#particles-js{
    height: 100vh;
    width:100%;
    background: linear-gradient(to right, pink,blue);
}

#head{
    
    font-family: fantasy;
    text-align: center;
    margin-left: 490px;
    margin-top:80px;
    text-shadow: 2px 2px 2px red;
    width: 390px;
    height: 100px;
    box-shadow: 2px 2px 2px 3px black;
    padding-top: 10px;
}
body{
    margin: 0px;
}
#main{
    position: absolute;
}
#middle{
    font-family: fantasy;
    padding-left: 250px;
    width: 700px;
}
.grid{
    display: grid;
    
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
    padding: 20px;
    
} 
 a{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
#note{
    padding-left:250px; 
    
}
.grid > div{
    background:none;
    box-shadow: 3px 3px 3px 3px black;
    grid-auto-rows: minmax(100px,auto);
    cursor: pointer;
    font-family: fantasy;
    font-size: 2em;
    
}
.grid > div:hover{
    background: pink;
    transition: all 1s;
    transform: scale(1.4);
}
@media screen and (max-width:700px){
    #head{
        margin-left: 50px;
        height: 100px;
        font-family: fantasy;
    }
    #note{
        padding-left: 50px;
        width: 400px;

    }
    #middle{
        padding-left: 50px;
        width: 400px;
        font-family: fantasy;
    }
    .grid{
        padding-left: 50px;
        width: 500px;
        grid-template-columns: repeat(2, 1fr);
        font-family: fantasy;

    }
    #particles-js{
        height: 150vh;
    }

}