#particles-js{
    height: 100vh;
    width:100%;
    background: linear-gradient(to right, pink,blue);
}

#head{
    
    font-family: fantasy;
    text-align: center;
    margin-left: 490px;
    margin-top:130px;
    text-shadow: 2px 2px 2px red;
    width: 390px;
    height: 100px;
    box-shadow: 2px 2px 2px 3px black;
    padding-top: 10px;
}
body{
    margin: 0px;
}
#main{
    position: absolute;
}
#middle{
    font-family: fantasy;
    padding-left: 300px;
    width: 700px;
}
.grid{
    display: grid;
    grid-template-columns: 4;
    display: inline;
} 
.grid{
    /* display: grid;
    
    width:200px;
    height: 250px;
    box-shadow: 2px 2px 2px black;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); */
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    grid-gap: 30px;
}
.grid1{
    width:200px;
    height: 250px;
    box-shadow: 2px 2px 2px 3px black;
    margin-right: 50px;
    margin-left:190px; 
    font-family: fantasy;
    font-size: 60px;
    cursor: pointer;
}
.grid1:hover{
    transition: all 1s;
    transform: scale(1.3);
    background-color: pink;
    
}
.grid2:hover{
    transition: all 1s;
    transform: scale(1.3);
    background-color: pink;
}
.grid3:hover{
    transition: all 1s;
    transform: scale(1.3);
    background-color: pink;
}
.grid4:hover{
    transition: all 1s;
    transform: scale(1.3);
    background-color: pink;
}
.grid2{
    width:200px;
    height: 250px;
    box-shadow: 2px 2px 2px 3px black;
    margin-right: 50px;
    font-family: fantasy;
    font-size: 60px;
    cursor: pointer;
}
.grid3{
    width:200px;
    height: 250px;
    box-shadow: 2px 2px 2px 3px black;
    margin-right: 50px;
    font-family: fantasy;
    font-size: 43px;
    cursor: pointer;
}
.grid4{
    width:200px;
    height: 250px;
    box-shadow: 2px 2px 2px 3px black;
    font-family: fantasy;
    font-size: 43px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
#note{
    padding-left:250px; 
}
@media screen and (max-width:700px){
    #head{
        width:50%;
        margin-left:100px;
        font-size: 0.75em;
    }
    #middle{
        padding-left: 140px;
        width: 50%;

    }
    #particles-js{
        height: 50cm;
    }
    .grid{
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 30px;
    }
    .grid1{
        width:200px;
        height: 250px;
        box-shadow: 2px 2px 2px 3px black;
        margin-right: 50px;
        margin-left:0px; 
        font-family: fantasy;
        font-size: 60px;
        cursor: pointer;
    }

    #note{
        padding-left:140px; 
        width: 300px;
    }

}
